<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.example.group4.mapper.student.ex.BookEXMapper">

    <resultMap id="selectAllLendList" type="com.example.group4.bean.student.ex.Lend_listEX">
        <result column="bname" property="BookName"></result>
        <result column="bauthor" property="Author"></result>
        <result column="bpublisher" property="Publisher" />
        <result column="bpublish_time" property="PublishTime" />
        <result column="ltime"  property="BorrowTime" />

        <association property="return_list" column="return_list_id" select="selectReturnList"></association>

    </resultMap>

    <select id="selectAllLendList" resultMap="selectAllLendList">
        select b.name bname,b.author bauthor,b.publisher bpublisher,b.publish_time bpublish_time,l.time ltime,r.id return_list_id
        from lend_list l, book b, return_list r
        where l.book_id=b.id and l.id=r.lend_id
    </select>

    <select id="selectReturnList" resultType="com.example.group4.bean.Return_list">
        select * from return_list where id=#{id}
    </select>

</mapper>